/* 
Background Color Variables
(as per the UI design)
* Side Bar
*/
$blue-bg: #336399;
$dark-blue-bg: #2f3740;
$blue-active: #404b57;
/* 
Text colors
*/
$light-blue-text: #629eee;
$gray: #95a0b2;
$active-text: #dadcde;
$inactive-text: #9ca7ba;
/*
* Main Dashboard
*/

$primary-bg: #f2f3f5;
$white-bg: #ffffff;
$gray-text: #7a8089;
$light-blue: #69a9ff;
$border: #d0d4dd;

$footer-bg: #eef0f2;
$button-color: #66a7ff;